<div class="article-container">
  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title">
        <span><%= page.title||'该文章没有标题' %></span>
      </div>

      <div class="article-header-meta">
        <ul>
          <li>
            <div class="datatime"></div>2021年4月16日
          </li>
          <li>
            <div class="author"></div>nothinglin
          </li>
          <li>
            <div class="comment"></div>11条评论
          </li>
          <li>
            <div class="readnumbers"></div>17，096人阅读
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="article-markdown-content">
    <%- page.content %>
  </div>
</div>
