<div class="article-container">
  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title about-page">
        <span><%= page.title||'该文章没有标题' %></span>
      </div>
    </div>
  </div>
  <div class="article-markdown-content">
    <%- page.content %>
  </div>
</div>
