<div class="section-postlist">

	<div class="postlist-content">
		<div class="postlist-title">
			<a href="#">如何对hexo博客的文章进行备份？</a>
		</div>

		<div class="postlist-intro">
			<a href="#">因为hexo博客是在本地编译生成静态资源文件，然后再推送静态资源到GitHub上进行托管，至于源文件markdown文件的话依然还是在本地上存储的。可是，当我们轻松搭建了hexo博客之后就会开始进行假设，假如我的电脑突然不见了，那么是不是我就不能再更新博客了呢？</a>
		</div>

		<div class="postlist-info">
			<ul>
				<li><div class="datatime"></div>2020年12月26日</li>
				<li><div class="author"></div>Nothinglin</li>
				<li><div class="comment"></div>11条评论</li>
				<li><div class="readnumbers"></div>17，096人阅读</li>
			</ul>
		</div>
	</div>

	<div class="postlist-picture-container">
		<div class="postlist-picture"></div>
	</div>
</div>
