<div class="article-container">
  <div class="article-header">
    <div class="article-header-container">
      <div class="article-header-title">
        <span><%= page.title||'该文章没有标题' %></span>
      </div>

      <div class="article-header-meta">
        <ul>
          <li>
            <div class="datatime"></div>2021年4月16日
          </li>
          <li>
            <div class="author"></div>nothinglin
          </li>
          <li>
            <div class="comment"></div>11条评论
          </li>
          <li>
            <div class="readnumbers"></div>17，096人阅读
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="links-content-container">

    <div class="links-item-container">
      <div class="links-item-uper-container">
        <div class="links-item-uper-left-container">
          <a href="#"><img src="/img/avatar.jpg" alt="avatar"></a>
        </div>
        <div class="links-item-uper-right-container">
          <div class="links-item-uper-right-title-container">
            <a href="#"><span><strong>Nothinglin的个人博客</strong></span></a>
          </div>
          <div class="links-item-uper-right-link-container">
            <a href="#" class="links-hreh links-ico"><i class="links-ico-github ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-zhihu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-wechat ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-csdn ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-rss ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-weibo ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-jianshu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-public ico-size"></i></a>
          </div>
        </div>
      </div>
      <div class="links-item-lower-container">
        <span>Nothinglin目前还是一名大学生，2020年还是大一的时候开始接触GitHub和博客，一年多后开始设计前端博客，喜欢分享自己学会的知识，座右铭是：“不积跬步无以至千里，后继才能薄发”</span>
      </div>
    </div>

    <div class="links-item-container">
      <div class="links-item-uper-container">
        <div class="links-item-uper-left-container">
          <a href="#"><img src="/img/avatar.jpg" alt="avatar"></a>
        </div>
        <div class="links-item-uper-right-container">
          <div class="links-item-uper-right-title-container">
            <a href="#"><span><strong>Nothinglin的个人博客</strong></span></a>
          </div>
          <div class="links-item-uper-right-link-container">
            <a href="#" class="links-hreh links-ico"><i class="links-ico-github ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-zhihu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-wechat ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-csdn ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-rss ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-weibo ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-jianshu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-public ico-size"></i></a>
          </div>
        </div>
      </div>
      <div class="links-item-lower-container">
        <span>Nothinglin目前还是一名大学生，2020年还是大一的时候开始接触GitHub和博客，一年多后开始设计前端博客，喜欢分享自己学会的知识，座右铭是：“不积跬步无以至千里，后继才能薄发”</span>
      </div>
    </div>

    <div class="links-item-container">
      <div class="links-item-uper-container">
        <div class="links-item-uper-left-container">
          <a href="#"><img src="/img/avatar.jpg" alt="avatar"></a>
        </div>
        <div class="links-item-uper-right-container">
          <div class="links-item-uper-right-title-container">
            <a href="#"><span><strong>Nothinglin的个人博客</strong></span></a>
          </div>
          <div class="links-item-uper-right-link-container">
            <a href="#" class="links-hreh links-ico"><i class="links-ico-github ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-zhihu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-wechat ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-csdn ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-rss ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-weibo ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-jianshu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-public ico-size"></i></a>
          </div>
        </div>
      </div>
      <div class="links-item-lower-container">
        <span>Nothinglin目前还是一名大学生，2020年还是大一的时候开始接触GitHub和博客，一年多后开始设计前端博客，喜欢分享自己学会的知识，座右铭是：“不积跬步无以至千里，后继才能薄发”</span>
      </div>
    </div>

    <div class="links-item-container">
      <div class="links-item-uper-container">
        <div class="links-item-uper-left-container">
          <a href="#"><img src="/img/avatar.jpg" alt="avatar"></a>
        </div>
        <div class="links-item-uper-right-container">
          <div class="links-item-uper-right-title-container">
            <a href="#"><span><strong>Nothinglin的个人博客</strong></span></a>
          </div>
          <div class="links-item-uper-right-link-container">
            <a href="#" class="links-hreh links-ico"><i class="links-ico-github ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-zhihu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-wechat ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-csdn ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-rss ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-weibo ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-jianshu ico-size"></i></a>
            <a href="#" class="links-hreh links-ico"><i class="links-ico-public ico-size"></i></a>
          </div>
        </div>
      </div>
      <div class="links-item-lower-container">
        <span>Nothinglin目前还是一名大学生，2020年还是大一的时候开始接触GitHub和博客，一年多后开始设计前端博客，喜欢分享自己学会的知识，座右铭是：“不积跬步无以至千里，后继才能薄发”</span>
      </div>
    </div>

  </div>
</div>
