.archive-container {
  width: 98.3%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 15px;
}

.archive-content {
  width: 703px;
  padding: 0 72px 50px 72px;
}

.archive-content ul {
  list-style: none;
  font-size: 18px;
}

.archive-content li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.archive-content a {
  text-decoration: none;
  color: #607D8B;
}

.archive-content a:hover {
  text-decoration: none;
  color: #009688;
}

.archive-span-date {
  margin-right: 10px;
}

.archive-span-author {
  margin-left: 10px;
  margin-right: 10px;
}

.archive-page {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  border-bottom-color: #009688;
  padding-bottom: 15px;
}

.archive-attention blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78C0A8;
  font-size: 5em;
  position: absolute;
  left: 10px;
  top: -15px;
}

.archive-attention blockquote {
  text-align: justify;
  border-radius: 10px;
  font-size: 1.4em;
  width: 87%;
  margin: 20px auto;
  font-family: Open Sans;
  color: #555555;
  padding: 15px 30px 15px 55px;
  line-height: 1.6;
  position: relative;
  background: #F9F9F9;
  font-size: 15px;
}
