.category-container {
  width: 98.3%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
  margin-bottom: 30px;

}

.category-menu {
  width: 703px;
  padding: 0 72px 18px 72px;
}

.category-menu ul {
  font-size: 18px;
  width: 100% !important;
  border-style: none !important;
  list-style: none !important;
}

.category-menu ul li {
  font-size: 18px;
  width: 91%;
  border-style: none !important;
  padding: 5px;
}

.category-index-title {
  width: 91%;
}

.category-index-title:hover {
  width: 93%;
}

.collapse:hover {
  color: #F5A81E !important;
  width: 100%;
}

.category-index-title li:hover {
  background-color: #F9F9F9 !important;
  width: 91%;
}

.category-page {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  border-bottom-color: #009688;
  padding-bottom: 15px;
}

.categories-attention blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78C0A8;
  font-size: 5em;
  position: absolute;
  left: 10px;
  top: -15px;
}

.categories-attention blockquote {
  text-align: justify;
  border-radius: 10px;
  font-size: 1.4em;
  width: 87%;
  margin: 20px auto;
  font-family: Open Sans;
  color: #555555;
  padding: 15px 30px 15px 55px;
  line-height: 1.6;
  position: relative;
  background: #F9F9F9;
  font-size: 15px;
}
