/* 移动端响应式样式 */
@media screen and (max-width: 767px) {
  header {
    width: 100%;
  }

  .navbar-container {
    width: 900px;
  }

  .navbar-menu {
    /* display: none; */
  }
  .navbar-brand {
      height: 100%;
  }
  .cover {
    width: 100%;
    min-height: 160px;
  }

  .cover-container {
    width: 100%;
  }

  .cover-brand {
    font-size: 25px;
    border-bottom-width: 1px;
  }

  .cover-subbrand {
    font-size: 12px;
  }

  .section-sidebar {
    display: none !important;
  }

  .section-container {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .section-postlist-container {
    width: 100% !important;
  }

  .section-postlist {
    width: 100% !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-bottom: 20px !important;
  }

  .postlist-content {
    width: 100% !important;
    height: auto !important;
  }

  .postlist-info {
    width: 100% !important;
    display: none !important;
  }

  .postlist-intro {
    display: none !important;
  }

  .postlist-title {
    width: 85% !important;
    height: auto!important;
    text-align: center;
    margin-left: 0px !important;
    margin: auto !important;
    padding-bottom: 20px !important;
    padding-top: 0px !important;
  }

  .postlist-title a {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 15px !important;
  }

  .footer-container {
    width: 100% !important;
    text-align: center !important;
  }

  .footer-container span {
    font-size: 12px !important;
  }

  section {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
  }

  .postlist-picture-container {
    margin: auto !important;
  }

  .postlist-picture img {
    border-radius: 15px;
  }

  .postlist-picture {
    margin-left: 20px;
    width: 260px !important;
    margin-right: 10px !important;
  }

  .article-header {
    width: 100% !important;
  }

  .article-header-container {
    width: 100% !important;
    padding: 0 !important;
  }

  .article-markdown-content {
    width: 90% !important;
    margin: auto !important;
    overflow: hidden !important;
  }

  .article-score {
    width: 90% !important;
    margin: auto !important;
    padding: 0px !important;
  }

  .relating-article {
    width: 100% !important;
  }

  .relating-article-header {
    width: 100% !important;
  }

  .popular-posts {
    width: 100% !important;
  }

  .section-sidebar {
    width: 100% !important;
  }

  .article-container {
    width: 100% !important;
  }

  .article-markdown-content h3 {
    font-size: 16px !important;
  }

  .article-markdown-content h1 {
    font-size: 20px !important;
  }

  .article-markdown-content p, .article-markdown-content code {
    font-size: 14px !important;
  }

  .article-markdown-content strong {
    font-size: 14px !important;
  }

  .article-header-container {
    width: 90% !important;
    margin: auto !important;
  }

  .article-markdown-content blockquote {
    font-size: 12px !important;
    width: 86% !important;
    padding: 5px 10px 5px 26px !important;
  }

  .article-markdown-content blockquote::before {
    left: 7px !important;
    top: -6px !important;
  }

  .article-markdown-content table {
    font-size: 13px !important;
  }

  .article-score .article-rating-p1 {
    padding-top: 10px;
    font-size: 14px;
  }

  .article-score span {
    font-size: 14px;
  }

  .article-score .article-rating-p2 {
    font-size: 14px;
  }

  .article-content-footer {
    width: 100% !important;
  }

  .article-content-footer {
    width: 90% !important;
    padding: 0px !important;
    padding-top: 14px !important;
    margin: auto !important;
  }

  .article-content-footer span {
    font-size: 14px;
  }

  .relating-article {
    display: none !important;
  }

  .article-comments-container {
    width: 90% !important;
    margin: auto !important;
  }

  .article-header span {
    font-size: 20px;
  }

  .category-menu {
    width: 90%;
    padding: 0px;
    margin: auto;
  }

  .categories-attention blockquote {
    font-size: 14px !important;
    width: 86% !important;
    padding: 5px 10px 5px 26px !important;
  }

  .categories-attention blockquote:before {
    left: 5px !important;
    top: -10px !important;
    font-size: 3.4em !important;
    position: absolute;
  }

  #tree {
    margin-left: 0px !important;
  }

  #tree>li {
    width: 95%;
    list-style: none !important;
    font-size: 14px;
  }

  .category-menu ul li {
    width: 100% !important;
    font-size: 14px !important;
  }

  #tree li ul {
    margin: .5em 0em .5em 5px !important;
  }

  .tag-menu {
    width: 90%;
    padding: 0px;
    margin: auto;
  }

  .tags-attention blockquote {
    font-size: 14px !important;
    width: 86% !important;
    padding: 5px 10px 5px 26px !important;
  }

  .tags-attention blockquote:before {
    left: 5px !important;
    top: -10px !important;
    font-size: 3.4em !important;
    position: absolute;
  }

  .tag-menu ul li {
    width: 100% !important;
    font-size: 14px !important;
  }

  .archive-content {
    width: 90%;
    padding: 0px;
    margin: auto;
  }

  .archive-attention blockquote {
    font-size: 14px !important;
    width: 86% !important;
    padding: 5px 10px 5px 26px !important;
  }

  .archive-attention blockquote:before {
    left: 5px !important;
    top: -10px !important;
    font-size: 3.4em !important;
    position: absolute;
  }

  .archive-content ul {
    font-size: 14px !important;
  }

  .links-content-container {
    width: 90%;
    padding: 0px;
    margin: auto;
  }

  .links-attention blockquote {
    font-size: 14px !important;
    width: 86% !important;
    padding: 5px 10px 5px 26px !important;
    margin-left: 0px !important;
  }

  .links-attention blockquote:before {
    left: 5px !important;
    top: -10px !important;
    font-size: 3.4em !important;
    position: absolute;
  }

  .links-item-container {
    width: 100% !important;
  }

  .navbar-brand-logo {
    width: 25px !important;
    height: 25px !important;
    top: 0px!important;
    left: 10px!important;
  }
  .navbar-brand-link span {
      font-size: 17px!important;
      margin-left: 10px!important;
  }
  nav{
    overflow-x: auto;
  }
}
