.article-header {
  width: 848px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.article-header-container {
  width: 703px;
  height: auto;
  padding: 18px 72px;
}

.article-header-title {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.article-header span {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
}

.article-header-meta {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  border-bottom-color: #009688;
}

.article-header-meta ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  flex-flow: row wrap;
}

.article-header-meta li {
  text-align: center;
  padding: 6px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  color: #5c5c53;
  margin-left: 10px;
}

.article-markdown-content {
  width: 703px;
  margin-left: 72px;
  margin-right: 72px;
  height: auto;
  padding-bottom: 30px;
}

.article-markdown-content img {
  max-width: 100%;
  vertical-align: middle;
}

.article-markdown-content h1 {
  font-size: 25px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.article-markdown-content h3 {
  background-color: #f5f5f5;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #E4E4E4;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #424242;
}

.article-markdown-content h5 {
  font-size: 16px;
  margin: 15px 0;
}

.article-markdown-content p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 15px;
  line-height: 27px;
  color: #424242;
}

.article-markdown-content a {
  text-decoration: none;
  color: #009688;
}

.article-markdown-content a:hover {
  text-decoration: none;
  color: #607D8B;
}

.article-markdown-content strong {
  font-size: 18px;
  margin-top: 5px;
}

.article-markdown-content pre {
  margin-top: 25px;
}

.article-markdown-content li {
  padding: 3px;
  font-size: 13.5px;
}

.article-markdown-content ul {
  margin-bottom: 20px;
  margin-left: 5px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  background-color: #f5f5f596;
  border-radius: 10px;
  text-align: justify;
  color: #333333;
}

.article-markdown-content blockquote {
  border-radius: 10px;
  font-size: 1.4em;
  width: 87%;
  margin: 20px auto;
  font-family: Open Sans;
  color: #555555;
  padding: 15px 30px 15px 55px;
  line-height: 1.6;
  position: relative;
  background: #F9F9F9;
  text-align: justify;
}

.article-markdown-content blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78C0A8;
  font-size: 3.4em;
  position: absolute;
  left: 10px;
  top: -15px;
}

.article-markdown-content blockquote p {
  font-size: 15px;
  margin-bottom: 0px !important;
}

.article-markdown-content table {
  border: 1px solid #ddd;
  border-left: 0;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: transparent;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 0;
  color: #424242;
}

.article-markdown-content table th {
  border-left: 1px solid #ddd;
  padding: 8px;
  background-color: #F9F9F9;
}

.article-markdown-content table td {
  border-left: 1px solid #ddd;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  border-top: 1px solid #ddd;
}

.article-container {
  width: 98.2%;
  height: auto;
  padding-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(100, 100, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-content-footer {
  width: 703px;
  height: auto;
  padding: 18px 72px;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-content-footer a {
  text-decoration: none;
  color: #333333;
  font-weight: bolder;
}

.article-content-footer a:hover {
  text-decoration: none;
  color: #F4A923;
  font-weight: bolder;
}

.article-pre-next {
  margin-top: 20px;
}

.article-score {
  width: 703px;
  height: auto;
  padding: 18px 72px;
  border-top-style: solid;
  border-top-width: 0.2px;
  border-top-color: #33333326;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.article-score span {
  font-style: italic;
  color: #787272c9;
}

.article-score .article-rating-p1 {
  padding-bottom: 10px;
}

.article-score .article-rating-p2 {
  padding-top: 10px;
}
