.relating-article {
  width: 847px;
  height: auto;
  margin-top: 20px;
}

.relating-article ul {
  width: 703px;
  padding-top: 0px !important;
  padding: 18px 72px;
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.relating-article ul li {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.popular-posts-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.popular-posts-img img {
  position: relative;
  left: -60px;
  top: -60px;
}

.relating-article-header {
  width: 703px;
  padding: 18px 72px;
}

.relating-article-header span {
  font-weight: bold;
  color: #333333cf;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #009688;
  font-size: 20px;
}

.popular-posts-title {
  text-align: center;
}

.popular-posts-title a {
  text-decoration: none;
  font-size: 14px;
  color: #6f6f6f;
}

.popular-posts-title a:hover {
  text-decoration: none;
  font-size: 14px;
  color: #F5A81E;
}

.none-relating-article {
  width: 703px;
  padding-top: 0px !important;
  padding: 18px 72px;
}
