section {
  background-color: #ECEFF1;
  padding-top: 54px;
  padding-bottom: 54px;
}

.section-container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.section-postlist-container {
  width: 848px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-postlist {
  width: 98.3%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 15px;
}

.postlist-content {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.postlist-title {
  width: 100%;
  height: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.postlist-intro-container {
  height: 85px;
  width: 515px;
}

.postlist-title a {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

.postlist-title a:hover {
  color: #009688;
}

.postlist-intro {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  text-align: justify;
}

.postlist-intro a {
  font-size: 15px;
  color: #0000008f;
  text-decoration: none;
}

.postlist-intro a:hover {
  color: #333333c7;
}

.postlist-picture-container {
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.postlist-picture {
  width: 230px;
  height: 160px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
}

.postlist-picture img {
  width: 100%;
  height: 100%;
}

.postlist-info {
  display: flex;
  flex-direction: row;
  width: 515px;
  margin-left: 20px;
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-top-style: solid;
  border-top-width: 2.2px;
  border-top-color: #009688;
}

.postlist-info ul {
  display: flex;
  list-style: none;
}

.postlist-info li {
  text-align: center;
  padding: 6px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.datatime {
  background: url(../img/datatime.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}

.author {
  background: url(../img/author.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}

.category {
  background: url(../img/category.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}


.tag {
  background: url(../img/tag.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}

a.tag-none-link {
  text-decoration: none;
  color: #5c5c53;
  padding-right: 5px;
}

a.tag-none-link:hover {
  text-decoration: none;
  color: #F4A81E;
}

.readnumbers {
  background: url(../img/people.png);
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
}

/* 分页栏样式 */
.index-pagination {
  background-color: #FFFFFF;
  width: 848px;
  height: 50px;
}

.index-pagination-container {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.index-pagination-container a, .index-pagination-container span {
  text-decoration: none;
  padding: 15px;
}

.index-pagination-container span {
  color: #F4A81E;
}

.index-pagination-container a {
  color: #333333;
}

.index-pagination-container a:hover {
  background-color: #F4A81E;
  color: #ffffff;
}
