<header>
	<nav>
		<div class="navbar-container">
			<div class="navbar-brand">
				<a href="#" class="navbar-brand-link">
					<div class="navbar-brand-logo"></div>
					<span>酷壳 - COOLSHELL</span></a>
			</div>

			
			<div class="navbar-menu">
				<ul>
					<li>
						<a href="#">主页</a>
					</li>
					<li>
					<a href="#">分类</a>
					</li>
					<li>
						<a href="#">标签</a>
					</li>
					<li>
						<a href="#">归档</a>
					</li>
					<li>
						<a href="#">关于</a>
					</li>
					<li>
						<a href="#">友链</a>
					</li>
					<li>
						<a href="#">网盘</a>
					</li>
					<li>
						<a href="#">
							<div class="ico-seach"></div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="cover">
		<div class="cover-container">
			<span class="cover-brand">酷 壳 - CoolShell</span>
			<span class="cover-subbrand">享受编程和技术所带来的快乐 - Coding Your Ambition</span>
		</div>
	</div>
	
</header>