<div class="sidebar-announce">
	<div class="sidebar-announce-container">
		<div class="sidebar-announce-header">
			<span>公告</span>
		</div>
		<div class="sidebar-announce-content">
			<p>这几天更新GitHub系列教程</p>
		</div>
	</div>
</div>

<div class="author-info">
	<div class="author-header">
		<span>博主简介</span>
	</div>
	<div class="author-avatar">
		<img src="img/avatar.jpg" alt="avatar">
	</div>

	<div class="author-name">
		<span>Nothinglin</span>
	</div>

	<div class="article-info">
		<ul>
			<li>文章数</li>
			<li>分类</li>
			<li>标签</li>
		</ul>

		<ul>
			<li class="articles">54</li>
			<li class="categories">12</li>
			<li class="tabs">22</li>
		</ul>
	</div>

	<div class="author-links">
		<a href="#" class="links-hreh"><i class="links-ico-github"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-zhihu"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-wechat"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-csdn"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-rss"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-weibo"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-jianshu"></i></a>
		<a href="#" class="links-hreh"><i class="links-ico-public"></i></a>
	</div>

</div>

<div class="aritcle-category">
	<div class="aritcle-category-header">
		<span>文章分类</span>
	</div>

	<div class="aritcle-category-section">

	</div>
</div>

<div class="sidebar-subscribe">
	<div class="sidebar-subscribe-header">
		<span>公众号订阅作者</span>
	</div>

	<div class="sibar-subscribe-picture">
		<img src="img/subscribe.jpg" alt="苦逼的学生仔">
	</div>
</div>
